set incsearch
set ignorecase
set smartcase
set number
set relativenumber
set surround " IdeaVIM specific setting
set scrolloff=6
set clipboard=unnamedplus,unnamed
set showmode
set surround

let mapleader=","

nmap Y y$
nn <space> <c-w>
nn <tab> :action RecentFiles<CR>
nn <C-p> :action SearchEverywhere<CR>
nn <leader>sv :source ~/.ideavimrc<CR>
ino jj <Esc>
no j gj
no k gk
nn zz :w<CR>

nmap <leader>b :action Back<cr>
nmap <leader>f :action Forward<cr>
no <leader>g :action GotoDeclaration<cr>
ino <leader>g :action GotoDeclaration<cr>
no <leader>c<space> :action CommentByLineComment<CR>
ino <leader>c<space> :action CommentByLineComment<CR>

" Insert mode movement
ino <C-k> <Up>
ino <C-j> <Down>
ino <C-h> <Left>
ino <C-l> <Right>
