set ignorecase
set smartcase
set number
set relativenumber
set surround " IdeaVIM specific setting

let mapleader=","

nmap Y y$
nn <space> <c-w>
nn <tab> :action RecentFiles<CR>
nn <C-p> :action SearchEverywhere<CR>
nn <leader>sv :source ~/.ideavimrc<CR>
ino jj <Esc>
ino jk <Esc>
no j gj
no k gk

" Insert mode movement
ino <C-k> <Up>
ino <C-j> <Down>
ino <C-h> <Left>
ino <C-l> <Right>
